/* Подключение семейства шрифтов */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    margin: 0; /* Отступ от верхней границы до контента */
    padding: 0; /* Отступ между внутренней границей и контентом */
    box-sizing: border-box; /* Параменр задающий жесткое фиксирование размера элемента и при 
    изменении размеров границ, размер менятся внуть, а не увеличивает сам контейнер*/
}

canvas {
    background-color: #ffe4c4; /* Цвет заднего фона холста*/
}

body {
    width: 100vw; /* Свойство по ширине видимой области */
    height: 100vh; /* Свойство по высоте видимой области */
    overflow: hidden; /* Обрезание контента без наличия прокрутки */
}

/* Делает блочный элемент class menu позиционным родителем */
.menu {
    position: relative; /* Позиционарования поля меню с возможностью смещения относительно него самого */
    width: 100vw; /* Свойство по ширине всей видимой области */
    height: 100vh; /* Свойство по высоте всей видимой области */
}

.menu-board {
    position: absolute; /* Позиционарования поля меню с абсолютным значением, чтобы другие элементы холста не взаимодействовали с ним */
    width: 30vw; /* Свойство по ширине области меню */
    min-width: 400px; /* Минимальный размер ширины доски меню */
    top: 50%; /* Отступ сверху на 50% для позиционирования области меню в центре по вертикали */
    left: 50%; /* Отступ слева на 50% для позиционирования области меню в центре по горизонтали */
    transform: translate(
        -50%,
        -50%
    ); /* Трансформирование облисти меню по X и Y коориднатам на 50% */
    background-color: #d2691e; /* Цвет заднего фона меню */
    outline: 2px solid black; /* Ширина и цвет границ области меню */
    border-radius: 40px; /* Разиус закругления углов меню */
}

.page-name {
    min-width: 320px; /* Минимальный размер ширины доски меню */
    min-height: 60px; /* Минимальный размер высоты доски меню */
    width: 90%; /* Размер ширины доски меню */
    height: 50%; /* Размер высоты доски меню */
    margin-left: auto; /* Автоматические равные отступы внешней левой границы от контента */
    margin-right: auto;
    margin-top: 5%; /* Отступ внешней верхней границы от контента */
    margin-bottom: 15%; /* Отступ внешней нижней границы от контента */
    padding-top: 5%; /* Отступ внутренней верхней границы от контента */
    padding-bottom: 5%; /* Отступ внутренней нижней границы от контента */
    text-align: center; /* Выравнивание контента по центру */
    background-color: #ffcd9a; /* Цвет заднего фона класса */
    outline: 2px solid black; /* Ширина и цвет границ области меню */
    border-radius: 40px; /* Разиус закругления углов меню */
}

.page-text {
    width: 80%; /* Размер ширины элемента текста */
    margin-bottom: 5%; /* Отступ внешней нижней границы от контента */
}

#page-button {
    width: 70%; /* Размер ширины элемента текста */
    margin-bottom: 5%; /* Отступ внешней нижней границы от контента */
}

.page-text,
#page-button {
    min-width: 250px; /* Минимальный размер ширины */
    margin-left: auto; /* Автоматические равные отступы внешней левой границы от контента */
    margin-right: auto; /* Автоматические равные отступы внешней правой границы от контента */
    padding: 5%; /* Отступ внутренней границы от контента */
    text-align: center; /* Выравнивание контента по центру */
    background-color: #ffcd9a; /* Цвет заднего фона класса */
    outline: 2px solid black; /* Ширина и цвет границ области меню */
    border-radius: 40px; /* Разиус закругления углов меню */
}

#page-button:active {
    transform: scale(0.9); /* Измененный размер кнопки, после нажатия на неё*/
    transition: transform 0.2s; /* Время, за которое кнопка меняет размер */
}

h1,
h2 {
    font-family: "Press Start 2P", cursive; /*Семейство шрифтов для отображения их на веб-ресурсе*/
    color: #361c00; /* Цвет шрифта */
    text-shadow: #c57000 4px 4px; /* Цвет тени шрифта*/
}

h1 {
    font-size: 2rem; /* Размер шрифта */
}

h2 {
    font-size: calc(1.5rem); /* Размер шрифта */
}

p {
    position: relative; /* Позиционарования поля меню с возможностью смещения относительно него самого */
    margin-left: auto; /* Автоматические равные отступы внешней левой границы от контента */
    margin-right: auto; /* Автоматические равные отступы внешней правой границы от контента */
    font-size: 0.7em; /* Размер шрифта */
    font-family: "Press Start 2P", cursive; /*Семейство шрифтов для отображения их на веб-ресурсе*/
}

.aboutcap,
.version {
    position: absolute; /* Позиционарования поля меню с абсолютным значением, чтобы другие элементы холста не взаимодействовали с ним */
    display: block; /* Демонстрация элемента как блочного */
    bottom: 1%; /* Отступ снизу */
}
.aboutcap {
    left: 2%; /* Отступ слева */
}
.version {
    right: 2%; /* Отступ справа */
}

.page-name,
#page-button,
.aboutcap,
.version {
    -moz-user-select: none; /* Значения для Mozilla */
    -khtml-user-select: none; /* Значения для html */
    -webkit-user-select: none; /* Значения для WebKit */
    user-select: none; /* Определение возможности пользователям выделять текст*/
}
